.img-background {
    background-image: url('https://res.cloudinary.com/dnwyfbj7m/image/upload/w_1920,h_1080,c_fill,q_auto/v1735992827/Background_portfolio.png');
    background-size: cover;
    background-position: center;
  }
  