/* soon will create nice themes here :) */
:root {
    --primary-color: #1a202c;
    --secondary-color: #edf2f7;
  }
  
  /* ContactInfo.css */
.contact-item {
  display: flex;
  align-items: center;
  font-size: 1.125rem; 
  margin-bottom: 1rem; 
  animation: slideInRight 1s ease-in-out;
}

.contact-item:last-child {
  margin-bottom: 2rem;
}

/* buttons links */
.profile-button {
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}

.profile-button:hover {
  transform: scale(1.1) translateY(-2px);
}