@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', Arial, sans-serif;
  letter-spacing: 0;
}

.img-background {
  background-image: url('https://res.cloudinary.com/dnwyfbj7m/image/upload/w_1920,h_1080,c_fill,q_auto/v1735992827/Background_portfolio.png');
  background-size: cover;
  background-position: center;
}


.silver-gradient {
  background: linear-gradient(90deg, #C0C0C0, #E0E0E0);
  -webkit-background-clip: text; 
  background-clip: text; 
  -webkit-text-fill-color: transparent; 
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.fade-in {
  animation: fadeIn 1s ease-out forwards;
}

.slide-in {
  animation: slideIn 0.8s ease-out forwards;
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}

.projects .animate-slideInFromTop {
  animation: slideInFromTop 1s ease-out forwards;
}

